@import '../../utils/colors';
@import '../../utils/breakpoints';

.navbar {
  height: 10vh;
  background-color: $black;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  @include md {
    height: 8vh;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .navbar-logo {
    display: flex;
    width: 90%;
    justify-content: center;
    @include md {
      width: auto;
    }
    .name {
      text-transform: lowercase;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
      font-size: 1.5rem;
    }
  }
  .navbar-links {
    width: 70%;
    display: none;
    align-items: center;
    justify-content: center;
    @include md {
      display: flex;
    }
    @include lg {
      width: 80%;
    }
    .content-link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
      margin-right: 1rem;
      .link {
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        font-weight: 500;
        &:hover {
          color: $red;
          text-decoration: underline;
          transition: 1s;
          -webkit-transition: 1s;
          -moz-transition: 1s;
          -ms-transition: 1s;
          -o-transition: 1s;
        }
      }
    }
  }

  .navbar-extras {
    display: none;
    align-items: center;
    font-size: 1.5rem;
    @include md {
      display: flex;
    }
  }

  .navbar-hamburger {
    display: flex;
    align-items: center;
    width: auto;
    @include md {
      display: none;
    }
  }
}

.navbar-mobile {
  width: 100%;
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;

  .content-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    .link {
      text-decoration: none;
      color: $white;
      text-transform: uppercase;
      &:hover {
        color: $red;
        text-decoration: underline;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
      }
    }
  }
}
